<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TPInjection1/fr.imie.cours/fr/imie/exo2/MonApplicationTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.imie.exo2.MonApplicationTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TPInjection1"/>
</launchConfiguration>
